@model CvTemplate.Domain.Models.Entities.ContactPost

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>ContactPost</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comment" class="control-label"></label>
                <input asp-for="Comment" class="form-control" />
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Answer" class="control-label"></label>
                <input asp-for="Answer" class="form-control" />
                <span asp-validation-for="Answer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnswerDate" class="control-label"></label>
                <input asp-for="AnswerDate" class="form-control" />
                <span asp-validation-for="AnswerDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnswerByUserId" class="control-label"></label>
                <input asp-for="AnswerByUserId" class="form-control" />
                <span asp-validation-for="AnswerByUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedByUserId" class="control-label"></label>
                <input asp-for="CreatedByUserId" class="form-control" />
                <span asp-validation-for="CreatedByUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeletedByUserId" class="control-label"></label>
                <input asp-for="DeletedByUserId" class="form-control" />
                <span asp-validation-for="DeletedByUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeletedDate" class="control-label"></label>
                <input asp-for="DeletedDate" class="form-control" />
                <span asp-validation-for="DeletedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

