@model ProjectJobCategoryViewModel
@{
    ViewData["Title"] = "Portfolio";
}

<div id="portfolio">
    <div class="inside-sec">
        <!-- BIO AND SKILLS -->
        <h5 class="tittle">PORTFOLIO</h5>

        <!-- PORTFOLIO -->
        <section class="portfolio padding-top-50 padding-bottom-50">
            <!-- Work Filter -->
            <ul class="tabs portfolio-filter text-center margin-bottom-30">
                <li class="filter" data-filter="all">all</li>
                @foreach (var item in Model.JobCategories)
                {
                    <li class="filter" data-filter=".@item.Name">@item.Name</li>
                }
                @*<li class="filter" data-filter=".brand">Branding</li>
                <li class="filter" data-filter=".design">designing</li>
                <li class="filter" data-filter=".photo">photography</li>
                <li class="filter" data-filter=".visual">visual design</li>*@
            </ul>

            <!-- PORTFOLIO ITEMS -->
            <div id="Container" class="item-space row col-3">

                <!-- ITEM -->
                @foreach (var item in Model.Projects)
                {
                    <article class="portfolio-item mix @item.JobCategory.Name  ">
                        <div class="portfolio-image">
                            <a href="#."> <img class="img-responsive" alt="Open Imagination" src="/uploads/images/portfolio/@item.ImgUrl"> </a>
                            <div class="portfolio-overlay style-4">
                                <div class="detail-info">
                                    <div class="position-center-center">
                                        <h3 class="no-margin">@item.Name</h3>
                                        <span><a href="#.">@item.ShortDescription</a></span> <a href="#." class="go"><i class="fa fa-search"></i></a> <a href="#." class="go"><i class="fa fa-link"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                }

                <!-- ITEM -->
                <!--<article class="portfolio-item mix photo">
        <div class="portfolio-image">
            <a href="#."> <img class="img-responsive" alt="Open Imagination" src="/uploads/images/portfolio/5/img-2.jpg"> </a>
            <div class="portfolio-overlay style-4">
                <div class="detail-info">
                    <div class="position-center-center">
                        <h3 class="no-margin">Assembly Branding</h3>
                        <span><a href="#.">Fashion / trending</a></span> <a href="#." class="go"><i class="fa fa-search"></i></a> <a href="#." class="go"><i class="fa fa-link"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </article>-->
                <!-- ITEM -->
                <!--<article class="portfolio-item mix visual pf-branding-design">
        <div class="portfolio-image">
            <a href="#."> <img class="img-responsive" alt="Open Imagination" src="/uploads/images/portfolio/5/img-3.jpg"> </a>
            <div class="portfolio-overlay style-4">
                <div class="detail-info">
                    <div class="position-center-center">
                        <h3 class="no-margin">Assembly Branding</h3>
                        <span><a href="#.">Fashion / trending</a></span> <a href="#." class="go"><i class="fa fa-search"></i></a> <a href="#." class="go"><i class="fa fa-link"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </article>-->
                <!-- ITEM -->
                <!--<article class="portfolio-item mix design pf-digital-art ">
        <div class="portfolio-image">
            <a href="#."> <img class="img-responsive" alt="Open Imagination" src="/uploads/images/portfolio/5/img-4.jpg"> </a>
            <div class="portfolio-overlay style-4">
                <div class="detail-info">
                    <div class="position-center-center">
                        <h3 class="no-margin">Assembly Branding</h3>
                        <span><a href="#.">Fashion / trending</a></span> <a href="#." class="go"><i class="fa fa-search"></i></a> <a href="#." class="go"><i class="fa fa-link"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </article>-->
                <!-- ITEM -->
                <!--<article class="portfolio-item mix brand pf-digital-art">
        <div class="portfolio-image">
            <a href="#."> <img class="img-responsive" alt="Open Imagination" src="/uploads/images/portfolio/5/img-5.jpg"> </a>
            <div class="portfolio-overlay style-4">
                <div class="detail-info">
                    <div class="position-center-center">
                        <h3 class="no-margin">Assembly Branding</h3>
                        <span><a href="#.">Fashion / trending</a></span> <a href="#." class="go"><i class="fa fa-search"></i></a> <a href="#." class="go"><i class="fa fa-link"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </article>-->
                <!-- ITEM -->
                <!--<article class="portfolio-item mix design pf-digital-art">
        <div class="portfolio-image">
            <a href="#."> <img class="img-responsive" alt="Open Imagination" src="/uploads/images/portfolio/5/img-9.jpg"> </a>
            <div class="portfolio-overlay style-4">
                <div class="detail-info">
                    <div class="position-center-center">
                        <h3 class="no-margin">Assembly Branding</h3>
                        <span><a href="#.">Fashion / trending</a></span> <a href="#." class="go"><i class="fa fa-search"></i></a> <a href="#." class="go"><i class="fa fa-link"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </article>-->
                <!-- ITEM -->
                <!--<article class="portfolio-item mix brand pf-branding-design">
        <div class="portfolio-image">
            <a href="#."> <img class="img-responsive" alt="Open Imagination" src="/uploads/images/portfolio/5/img-7.jpg"> </a>
            <div class="portfolio-overlay style-4">
                <div class="detail-info">
                    <div class="position-center-center">
                        <h3 class="no-margin">Assembly Branding</h3>
                        <span><a href="#.">Fashion / trending</a></span> <a href="#." class="go"><i class="fa fa-search"></i></a> <a href="#." class="go"><i class="fa fa-link"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </article>-->
                <!-- ITEM -->
                <!--<article class="portfolio-item mix photo pf-digital-art ">
        <div class="portfolio-image">
            <a href="#."> <img class="img-responsive" alt="Open Imagination" src="/uploads/images/portfolio/5/img-8.jpg"> </a>
            <div class="portfolio-overlay style-4">
                <div class="detail-info">
                    <div class="position-center-center">
                        <h3 class="no-margin">Assembly Branding</h3>
                        <span><a href="#.">Fashion / trending</a></span> <a href="#." class="go"><i class="fa fa-search"></i></a> <a href="#." class="go"><i class="fa fa-link"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </article>-->
                <!-- ITEM -->
                <!--<article class="portfolio-item mix visual pf-branding-design">
        <div class="portfolio-image">
            <a href="#."> <img class="img-responsive" alt="Open Imagination" src="/uploads/images/portfolio/5/img-9.jpg"> </a>
            <div class="portfolio-overlay style-4">
                <div class="detail-info">
                    <div class="position-center-center">
                        <h3 class="no-margin">Assembly Branding</h3>
                        <span><a href="#.">Fashion / trending</a></span> <a href="#." class="go"><i class="fa fa-search"></i></a> <a href="#." class="go"><i class="fa fa-link"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </article>-->
            </div>
        </section>
    </div>
</div>

