@model ServiceViewModel

@{
    ViewData["Title"] = "Edit";
}

<div class="content-body">
    <!-- row -->
    <div class="container-fluid">
        <h1>PersonalSetting Edit</h1>
        <div class="row">
            <div class="col-md-12">
                <form asp-action="Edit" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Title" class="control-label"></label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group ">
                        <label class="control-label">
                            Icon
                        </label>
                        <label for="file" class="image-input" data-imgurl="/uploads/images/@Model.IconUrl">
                            <input name="fileTemp" value="@Model.IconUrl" type="hidden" />
                            <span>x</span>
                        </label>
                        <input name="file" id="file" type="file" accept="image/x-png,image/gif,image/jpeg" />
                    </div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>


@section addcss{

    <link href="~/libs/jquery-image-input/image-input.css" rel="stylesheet" />
}


@section addjs{
    <script src="~/libs/ckeditor5/ckeditor.js"></script>
    <script src="~/libs/jquery-image-input/jquery.image-input.js"></script>
    <script>
        $(document).ready(function () {
            ClassicEditor
                .create(document.querySelector('#Description'))
                .catch(error => {
                    console.error(error);
                });
        })
    </script>
}




